body, html {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.box1 {
    width: 450px; 
    height: 0px; 
    background-color: rgba(255, 255, 255, 0);
    border: 6px solid #f700ff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box1 img {
    width: 450px;
    height:450px;
    border-radius: 10px;
}
.box2 {
    width: 600px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0);
    border: 6px solid #0004ff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box2 img {
    width: 600px;
    height:400px;
    border-radius: 10px;
}
.box3 {
    width: 600px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0);
    border: 6px solid #ff0000;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box3 img {
    width: 600px;
    height:400px;
    border-radius: 10px;
}

.text{
   
    color: #ffffff;
    position: absolute;
    top:30px;
    left:10px;
    
}
.text2{
    
  color:#ff0000;
position: absolute;
    top: 1740px;
    right: 2%;
    left: 9%;
}